# ZeroTier və ya remote bağlantı üçün server URL-ni buraya yazın
# Məsələn: VITE_SERVER_URL=http://192.168.195.123:3001
# ZeroTier IP-niz: VITE_SERVER_URL=http://10.147.17.123:3001

VITE_SERVER_URL=http://localhost:3001
